.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  font-size: calc(12px + 2vmin);
  color: rgb(231, 216, 216);
  text-transform: uppercase;
  font-weight: bolder;
}

.App-link {
  color: #09d3ac;
}
